<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> Programeaza-te </title>
        <link rel="stylesheet" href="../css/addProgramare.css">

    </head>

    <body>
            <header>
                    <div class="title">
                        <h1>VeteriLand</h1>
                    </div>
            
                    <div class="barMeniu">
                        <a href="/stapan/doctori"><strong>Doctori</strong></a>
                        <a href="/stapan/stapan"><strong>Animale</strong></a>
                        <a href='/stapan/addProgramare'><strong>Adauga Programare</strong></a>
                        <a href='/stapan/addPacient'><strong>Adauga Animal</strong></a>
                        <a href="/"><strong>Logout</strong></a>
                    </div>
            
                </header>

        <div class="addProgramareArea">  
            <h2> Adauga o noua programare </h2>
            <form action="" method="POST" class="addProgramareForm">
                <p> Nume Pacient </p>
                    <input type="text" placeholder="numele animalului" name="animalNume" required>
                <p> Tip Animal </p>
                    <input type="text" placeholder="tipul animalului" name="tipAnimal" required>
                <p> Varsta </p>
                    <input type="text" placeholder="varsta animalului" name="varstaAnimal" require>
                <p> Nume Doctor </p>
                    <input type="text" placeholder="numele doctor" name="numeDoctor" required>
                <p> Prenume Doctor </p>
                    <input type="text" placeholder="prenume doctor" name="prenumeDoctor" required>
                <p> Data(ex: 12-AUG-19) </p>
                    <input type="text" placeholder="data" name="dataDorita" required>
                <p> Ora </p>
                    <input type="text" placeholder="ora" name="oraDorita" required>
                <p> Motiv </p>
                    <input type="text" placeholder="motiv consultatie" name="motivConsultatie">
                <button type="submit"><strong> Submit </strong></button>    
            </form>
        </div>
    </body>

</html>