<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> Contact Us </title>
        <link rel="stylesheet" href="../css/contactUs.css">
    </head>

    <body>
        <header>
            <div class="headerPage">
                <div class="title">
                    <h1>VeteriLand</h1>
                </div>
                
                <div class="loginAndSignUp">
                    <a href="/login"><strong>Login</strong></a>
                    <a href="/signUpUser"><strong>Sign Up User</strong></a>
                    <a href="/signUpDoctor"><strong>Sign Up Doctor</strong></a>
                </div>
            </div>
        </header>

        <article>
            <section>
                <div class="informationPage">
                    <div class="location">
                        <img src="images/location.png">
                        <p> Strada Strapungere Silvestru nr.7 </p>
                    </div>

                    <div class="clock">
                        <img src="images/clock.png">
                        <p> Luni - Vineri : 9:00 - 18:00 </p>
                    </div>

                    <div class="phone">
                        <img src="images/telephon.png">
                        <p> 0757380734 </p>
                    </div>

                    <div class="email">
                        <img src="images/email.png">
                        <p> clinica_veteriland@gmail.com </p>
                    </div>
                </div>
            </section>

            <section>
                    <div class="sendOnAPage">
                        <div class="homePage">
                            <a href="/"><h3> Home </h3></a>
                        </div>

                        <div class="services">
                            <a href="/services"><h3> Servicii </h3></a>
                        </div>
        
                        <div class="contactUs">
                            <a href="/contactUs"><h3> Contact </h3></a>
                        </div>
                    </div>
                </section>

        </article>
    </body>
</html>