<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Doctori </title>
    <link rel="stylesheet" href="../css/doctori.css" type="text/css">
</head>

<body>
    <header>
        <div class="title">
            <h1>VeteriLand</h1>
        </div>

        <div class="barMeniu">
          <a href="/stapan/doctori"><strong>Doctori</strong></a>
          <a href="/stapan/stapan"><strong>Animale</strong></a>
          <a href='/stapan/addProgramare'><strong>Adauga Programare</strong></a>
          <a href='/stapan/addPacient'><strong>Adauga Animal</strong></a>
          <a href="/"><strong>Logout</strong></a>
      </div>

    </header>

    <div id="nume">
    </div>
    <div id="container-fluid">

        <div class="table-row header">
          <div class="text">Nume</div>
          <div class="text">Prenume</div>
          <div class="num">Varsta</div>
          <div class="text">Email</div>
        </div>
      
        <!--
        <div id="table-row">
          <div class="text">Gogu</div>
          <div class="text">Alex</div>
          <div class="text">alex@gmail.com</div>
          <div class="num">15</div>
        </div>
      -->
      </div>
      <script src = "../javascript/doctori.js"></script>

</body>

</html>