<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Doctori </title>
    <link rel="stylesheet" href="../css/doctor.css">
</head>

<body>
    <header>
        <div class="title">
            <h1>VeteriLand</h1>
        </div>

        <div class="barMeniu">
            <a href="/doctor"><strong>Programarile</strong></a>
            <a href="/"><strong>Logout</strong></a>
        </div>

    </header>
    <div id="nume">

    </div>
    <div id="container-fluid">
      <!--
        <div class="table-row header">
          <div class="text">Nume pacient</div>
          <div class="num">Varsta</div>
          <div class="text">Tip animal</div>
          <div class="text">Data programarii</div>
          <div class="text">Ora programarii</div>
          <div class="text">Motiv programare</div>
        </div>
      -->
      <!--
        <div id="table-row">
          <div class="text">Gogu</div>
          <div class="text">Alex</div>
          <div class="text">alex@gmail.com</div>
          <div class="num">15</div>
          <div class="text">Sobolan</div>
          <div class="text">Carii</div>
          <div class="text">13.04.2015</div>
          <div class="text">18:00</div>
        </div>
      
      
        <div class="table-row">
            <div class="text">Gogu</div>
            <div class="text">Alex</div>
            <div class="text">alex@gmail.com</div>
            <div class="num">15</div>
            <div class="text">Sobolan</div>
            <div class="text">Carii</div>
            <div class="text">13.04.2015</div>
            <div class="text">18:00</div>
          </div>
      
          <div class="table-row">
            <div class="text">Gogu</div>
            <div class="text">Alex</div>
            <div class="text">alex@gmail.com</div>
            <div class="num">15</div>
            <div class="text">Sobolan</div>
            <div class="text">Carii</div>
            <div class="text">13.04.2015</div>
            <div class="text">18:00</div>
          </div>
      </div>
      -->
      <script src = "../javascript/doctor.js"></script>

</body>

</html>