<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Doctori </title>
    <link rel="stylesheet" href="../css/doctori.css" type="text/css">
</head>

<body>
    <header>
        <div class="title">
            <h1>VeteriLand</h1>
        </div>

        <div class="barMeniu">
            <a href="seeAppointments.html"><strong>Programarile</strong></a>
            <a href="seePatients.html"><strong>Pacientii</strong></a>
            <a href="index.html"><strong>Logout</strong></a>
        </div>

    </header>

    <div id="nume">
    </div>
    <div id="container-fluid">

        <div class="table-row header">
          <div class="text">Nume</div>
          <div class="text">Prenume</div>
          <div class="num">Varsta</div>
          <div class="text">Email</div>
        </div>
      
        <!--
        <div id="table-row">
          <div class="text">Gogu</div>
          <div class="text">Alex</div>
          <div class="text">alex@gmail.com</div>
          <div class="num">15</div>
        </div>
      -->
      </div>
      <script src = "../javascript/doctori.js"></script>

</body>

</html>