<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
    <header>
        <div class="headerPage">
            <div class="title">
                <h1>VeteriLand</h1>
            </div>
            
            <div class="loginAndSignUp">
                <a href="/login"><strong>Login</strong></a>
                <a href="/signUpUser"><strong>Sign Up User</strong></a>
                <a href="/signUpDoctor"><strong>Sign Up Doctor</strong></a>
            </div>
        </div>
    </header>

    <article>
        <section>
            <div class = "bodyPage">
                <div class = "informations">
                    <p> Începînd din 2016, misiunea noastră a fost aceea de a vă oferi dumneavoastră și companionului dumneavoastră servicii medicale veterinare de înaltă calitate prin intermediul unor mijloace și facilități de ultimă oră, acestea însemnînd tehnologie medicală și personal instruit, în cadrul unui mediu plin de afecțiune și compasiune, dedicație și responsabilitate, entuziasm și profesionalism, angajîndu-ne să fim lideri în ceea ce reprezintă serviciile medicale veterinare și implicîndu-ne proactiv pentru starea de bine a pacienților, clienților și a membrilor colectivului nostru. 
                    La <b>VeteriLand</b> credem că îngrijirea medicală veterinară de calitate pornește de la crearea unor relații bune și durabile, începe prin cunoașterea numelor clienților și pacienților noștri și stabilirea unor legături sau conexiuni bazate pe încredere și dragoste cu pacienții. Misiunea noastră este aceea de a fi alături de pacienți și „părinții” lor, de a răspunde tuturor întrebărilor familiei și de a le liniști îngrijorările. </p>
                </div>
                <img src="./images/background3.png">
            </div>
        </section>

        <section>
            <div class="sendOnAPage">
                <div class="homePage">
                    <a href="/"><h3> Home </h3></a>
                </div>

                <div class="services">
                    <a href="/servicesPage"><h3> Servicii </h3></a>
                </div>

                <div class="contactUs">
                    <a href="/contactUsPage"><h3> Contact </h3></a>
                </div>
            </div>
        </section>
    </article>

</body>

</html>