<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <!-- <META HTTP-EQUIV="Refresh" CONTENT="1;URL=/doctor"> -->

        <title>Login Page</title>
        <link rel="stylesheet" href="../css/login.css">
    </head>

    <body>
        <div class="loginForm">
            <form action="/login" method="POST" class="signUpForm">
                <div class="loginArea"> 
                    <input type="email" name="email" placeholder="Enter your email account" required>
                    <input type="password" name="password" placeholder="Enter the password" required>
                    <button type="submit" ><strong> Submit </strong></button>
                </div>
            </form>
        </div>
        <!-- <script src="../javascript/login.js"></script> -->

        <img src="images/loginImg.png">
    </body>

</html>