<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> Programari </title>
        <link rel="stylesheet" href="../css/seeAnimals.css">
    </head>

    <body>
        <header>
            <div class="headerPage">
                <div class="title">
                    <h1>VeteriLand</h1>
                </div>
                
                <div class="barMeniu">
                    <div class="anotherPage">
                        <a href ="appointmentPage.html"><strong>Programeaza-te</strong></a>
                        <a href="seeAnimals.html"><strong>Animalele dumneavoastra</strong></a>
                        <a href="index.html"><strong>Logout</strong></a>
                    </div>   
                </div>

            </div>
        </header>

        <article>
            
        </article>
    </body>

</html>