<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> Servicii </title>
        <link rel="stylesheet" href="../css/services.css">
    </head>

    <body>
        <header>
            <div class="headerPage">
                <div class="title">
                   <h1>VeteriLand</h1>
                </div>
                
                <div class="loginAndSignUp">
                    <a href="/login"><strong>Login</strong></a>
                    <a href="/signUpUser"><strong>Sign Up User</strong></a>
                    <a href="/signUpDoctor"><strong>Sign Up Doctor</strong></a>
                </div>
            </div>
        </header>

        <article>
            <section>
                <div class="positionImage">
                    <img src="images/veterinary.png">
                    <h2> SPECIALIZARI: </h2>
                    <h3> PISICI, HAMSTERI, PERUSI, PAPAGALI, PORUMBEI, SOPARLE. </h3>
                </div>
                
                <div class="contentServices">
                    <h2> Servicii oferite </h2>
                        <ul>
                            <li> Consultatie periodica </li>
                            <li> Consultatii dermatologice </li>
                            <li> Consultatii chirurgicale </li>
                            <li> Consiliere nutritionala </li>
                            <li> Microciparea si Carnetul de sanatate </li>
                            <li> Pasaportul </li>
                            <li> Vaccinare </li>
                            <ul>
                                <li> Vaccinarea antirabica </li>
                                <li> Vaccinarea polivalenta </li>
                                <li> Vaccinarea Monovalenta </li>
                            </ul>
                            <li> Stomatologie </li>
                            <li> Oftalmologie </li>
                            <li> Analize de laborator </li>
                        </ul>
                </div>
            </section>

            <section>
                <div class="sendOnAPage">
                    <div class="homePage">
                        <a href="/"><h3> Home </h3></a>
                    </div>
    
                    <div class="services">
                        <a href="/services"><h3> Servicii </h3></a>
                    </div>
        
                    <div class="contactUs">
                        <a href="/contactUs"><h3> Contact </h3></a>
                    </div>
                </div>
            </section>
    
        </article>
    </body>
</html>