<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> Sign Up </title>
        <link rel="stylesheet" href="../css/signUpUser.css">

    </head>

    <body>
        <header>
            <h1> Fa cea mai buna alegere pentru animalul tau </h1>
            <hr>
        </header>

        <div class="signUpArea">  
            <h2> Create a New Account </h2> 
            <form action="" method="POST" class="signUpForm">
                <p> First Name </p>
                    <input type="text" placeholder="enter first name" name="firstName" required>
                <p> Last Name </p>
                    <input type="text" placeholder="enter last name" name="lastName" required>
                <p> Age </p>
                    <input type="text" placeholder="enter your age" name="age" require>
                <p> Email </p>
                    <input type="email" placeholder="enter email address" name="email" required>
                <p> Password </p>
                    <input type="password" placeholder="create password" name="password" required>
                <p> Phone Number </p>
                    <input type="tel" placeholder="enter phone number" name="phoneNumber" required>
                <button type="submit"><strong> Submit </strong></button>    
            </form>
        </div>

        <img src="images/loginImg.png">

    </body>

</html>