<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Stapan </title>
    <link rel="stylesheet" href="../css/stapan.css">
</head>

<body>
    <header>
        <div class="title">
            <h1>VeteriLand</h1>
        </div>

        <div class="barMeniu">
            <a href="/stapan/doctori"><strong>Doctori</strong></a>
            <a href="/stapan"><strong>Animale</strong></a>
            <a href='/addProgramare'><strong>Adauga Programare</strong></a>
            <a href='/addPacient'><strong>Adauga Animal</strong></a>
            <a href="/"><strong>Logout</strong></a>
        </div>

    </header>
    <div id="nume">

    </div>
    <div class id="animale">Animalele tale sunt:</div>
    <div id="container-fluid">

        <div class="table-row header">
          <div class="text">Nume pacient</div>
          <div class="text">Tip animal</div>
          <div class="num">Varsta pacient</div>
        </div>
      <!--
        <div class="table-row">
          <div class="text">Gogu</div>
          <div class="text">Sobolan</div>
          <div class="num">15</div>
        </div>
      -->
      </div>
      <script src = "../javascript/stapan.js"></script>

</body>

</html>