body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerPage{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    font-family: Courier;
    overflow: hidden;
    background-color: white;
}

.title{
    flex: auto;
    text-shadow: -1px -1px 1px #aaa,
               0px 2px 1px rgba(0,0,0,0.5),
               2px 2px 2px rgba(0,0,0,0.7),
               0px 0px 3px rgba(0,0,0,0.4);
    margin-left: 17px;
    color: brown;
}

.loginAndSignUp{
    margin-top: 3%;
    margin-right: 10px;
}

.loginAndSignUp a {
    border: 2px solid red;
    padding: 7px;
    text-decoration: none;
    color: black;
}

.loginAndSignUp a:hover {
    border: 2px solid brown;
}

.informations {
    margin: 3%;
    position: absolute;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    background-color: brown;
    color: white;
    font-style: italic;
    text-indent: 50px;
    width: 30%;
}

img {
    height: 100%;
    width: 100%; 
}

.sendOnAPage {
    display: flex;
    flex-direction: row;
    margin-left: 16%;
    margin-top: 2%;
}

.services, .contactUs, .homePage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    background: #FE8409;
    margin-right: 20%;
}

.sendOnAPage a {
    text-decoration: none;
    font-size: 23px;
    color: #fff;
}

.services:hover, .contactUs:hover, .homePage:hover {
    background: #FE5E01;
}
