body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.loginForm {
    position: absolute;
    left: 10%;
    top: 35%;
    text-align: center;
}

.loginArea input, button {
    width: 60%;
    border: none;
    height: 45px;
    margin: 1.5%;
    text-align: center;
}

.loginArea input {
    border: 1.5px solid brown;
}

.loginArea input:hover {
    border-color: red;
}

.loginArea button[type=submit] {
    background-color: brown;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    font-size: 100%;
    margin-top: 2.5%;
}

.loginArea button[type=submit]:hover {
    background-color: red;
}

span {
    display: block;
    text-align: right;
}

input {
    font-size: 17px;
}

input:focus {
    font-size: 17px;
}

img {
    margin-top: 1%;
    margin-left: 50%;
    height: 40%;
    width: 40%; 
}