body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerPage {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    font-family: Courier;
    overflow: hidden;
    background-color: #FE8409;
}


.title {
    flex: auto;
    text-shadow: -1px -1px 1px #aaa,
               0px 2px 1px rgba(0,0,0,0.5),
               2px 2px 2px rgba(0,0,0,0.7),
               0px 0px 3px rgba(0,0,0,0.4);
    margin-left: 17px;
    color: brown;
}

.barMeniu {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-right: 20px;
}

.barMeniu a {
    border: 4px solid red;
    background-color: red;
    padding: 7px;
    text-decoration: none;
    color: white;
}

.barMeniu a:hover {
    border: 4px solid brown;
}
