body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-family: Georgia;
    text-align: center;
    color: tomato;
    text-shadow: 2px 2px black;
    font-size: 50px;

}

.signUpArea {
    position: absolute;
    left: 25%;
    top: 55%;
    transform: translate(-50%, -25%);
    box-sizing: border-box;
    border: 2px solid black;
    background: tomato;
    padding: 2.6%;
    width: 40%;
}

.signUpArea h2 {
    text-align: center;
    margin-top: 1.5%;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
}

.signUpArea p {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px black;
}

.signUpArea input, button {
    width: 100%;
    border: none;
    height: 33px;
    font-size: 20px;
}

.signUpArea button[type=submit] {
    background-color: brown;
    color: white;
    margin-top: 7%;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.signUpArea button[type=submit]:hover {
    background-color: red;
}

img {
    margin-top: 1%;
    margin-left: 46%;
    width: 54%; 
}